.card {
    width: 20vw;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20pxx= 40px rgba(0,0,0,0.25)
}

.title {

}

.fact {
    
}